@import "src/globalStyles/colors";

.started{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 110px;
	&-reverse{
		flex-direction: row-reverse;
	}

	&-info,&-bg {
		width: 45%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	&-info {
		padding-top: 70px;
		align-items: start;
	}

	&-bg{
		img{
			max-width: 458px;
			max-height: 564px;
		}
	}
}



.text {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: $black;
}
