@import "../../../../../globalStyles/colors";

.personal-cabinet {
  &__wrapper {
    max-height: 700px;
    min-height: 400px;
    min-width: 350px;
    width: calc(100% - 20px);
    margin: 0 20px 50px 20px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    span {
      display: block;
      line-height: 24px;
      color: $gray;
      margin-bottom: 5px;

      &:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
      }
    }

    &_text {
      color: $black !important;
      font-size: 18px;
      padding-left: 2px;
    }

    div {
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-dark-light;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
