@import "../../../../../globalStyles/colors";

.expense-table {
  width: 100%;
  &__wrapper {
    min-width: 450px;
    max-height: 700px;
    height: 700px;
    max-width: 1400px;
    width: 100%;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;

  }

  h3 {
    text-align: center;
    margin-bottom: 30px;
  }

  &__spend-block {
  }

  &__sort-history {
    display: flex;
    justify-content: space-between;
    margin: 0px 2px 10px 2px;

    div {

      /*
      &:hover {
        color: $orange;
      }
      */

      display: flex;
      align-items: center;
      margin: 0 15px;
      svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        transition: 0.3s;
        /*   &:hover {
             path {
               stroke: $orange
             }
           }*/
      }
    }

    &_date {

    }

    &_amount {

    }
  }


  &__spend-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 8px;
    margin: 15px 10px;
    span {
      min-width: 80px;
      font-size: 16px;
      color: $gray;
      text-align: center;
    }

    &_category {

    }

    &_amount {

    }

    &_date {

    }

    &:hover {
      background: $orange;
      border: 1px solid $orange;
      opacity: 0.8;
      transition: 0.3s;
      span {
        color: $white;
      }
    }
  }

  &__body {
    max-height: 550px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
      margin: 15px 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
      outline: 1px solid $orange;
    }
  }
}

.sort-on {
  transform: rotate(180deg);
  transition: 0.3s;

  path {
    stroke: $orange
  }
}
