@import "src/globalStyles/colors";

.expense-table {
  width: 100%;
  &__wrapper {
    min-width: 325px;
    max-width: 1400px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 10px 200px 10px;
  }

  h3 {
    text-align: center;
    font-size: 30px;
  }

  &__spend-block {
  }

  &__sort-history {
    display: flex;
    justify-content: space-between;
    margin: 0px 2px 10px 0;

    div {
      display: flex;
      align-items: center;
      margin: 0 15px;
      svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        transition: 0.3s;
      }
    }

    &_date {

    }

    &_amount {

    }
  }


  &__spend-card {
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 8px;
    margin: 15px 10px;
    span {
      font-size: 16px;
      color: $gray;
    }

    &_category {
      text-align: left;
    }

    &_amount {
      text-align: right;
    }

    &_date {
      text-align: center;
    }

    &:hover {
      background: $orange;
      border: 1px solid $orange;
      opacity: 0.8;
      transition: 0.3s;
      span {
        color: $white;
      }
    }
  }

  &__body {
    max-height: 550px;
    min-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 1px;
      outline: none;
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
      margin: 15px 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
      outline: 0.5px solid $orange;
    }
  }

  &__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section-select {
      margin-bottom: 30px;
      select {
        border: 1px solid $gray;
        width: 200px;
        height: 40px;
        border-radius: 8px;
        padding: 5px;
        outline: none;
        margin: 10px 0 0 15px;

        &:focus {
          box-shadow: 0 0 10px $orange;
          border: 1px solid $orange;
        }
      }
    }
  }
}

.sort-on {
  transform: rotate(180deg);
  transition: 0.3s;

  path {
    stroke: $orange
  }
}
