@import "src/globalStyles/colors";


.modal {

  &-wrapper {
    position: fixed;
    z-index: 30;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-overflow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(4, 4, 32, 1);
    backdrop-filter: blur(144px);
    opacity: 0.5;
    -webkit-box-shadow: 0px 10px 61px 23px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: 0px 10px 61px 23px rgba(34, 60, 80, 0.34);
    box-shadow: 0px 10px 61px 23px rgba(34, 60, 80, 0.34);
  }

  &-inner {
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal-content {
  max-height: 251px;
  height: 100%;

  &-container {
    width: 400px;
    height: 400px;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-button-box {
    display: flex;

    button {
      margin: 20px;

      &:last-child {
        background: $blue;
      }
    }
  }
}
