@import "src/globalStyles/colors";

.expense-accounting {
  &__wrapper {
    min-width: 282px;
    min-height: 364px;
    max-width: 380px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 10px;

    @media (max-width: 800px) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__wrapper {
      width: 100%;
      textarea {
        width: 100%;
        resize: none;
        margin-bottom: 10px;
        border-radius: 8px;
        border: 1px solid $gray;
        &:focus,&:hover {
          outline: none;
          border-color: $orange;
          box-shadow: 0 0 10px $orange;
        }
      }
    }

    //input[type=number]::-webkit-inner-spin-button {
    //  -webkit-appearance: none;
    //}
  }

  img {
    width: 200px;
    height: 200px;
  }
}
