@import "src/globalStyles/colors";

.home-container{
	padding-top: 100px;
	max-width: 1000px;
	margin: 0 auto;
}


.how-work{
	padding: 88px 0 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&-title{
		margin-bottom: 40px;
	}

	.cards-inner{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 29px;
	}
}
