@import "src/globalStyles/colors";

.input {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid $gray;
  outline: none;
}
input[type=text]:focus {
  box-shadow: 0 0 10px $orange;
  border: 1px solid $orange!important;
}
input[type=number]:focus {
  box-shadow: 0 0 10px $orange;
  border: 1px solid $orange!important;
}
.error {
  box-shadow: 0 0 10px $red;
  border: 1px solid $red!important;
}
