@import "src/globalStyles/colors";

.input {
  height: 40px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid $gray;
  outline: none;

  &:hover{
    box-shadow: 0 0 10px $orange;
    border: 1px solid $orange;
  }

}
//input[type=text]:focus {
//  box-shadow: 0 0 10px $orange;
//  border: 1px solid $orange;
//}
//input[type=number]:focus {
//  box-shadow: 0 0 10px $orange;
//  border: 1px solid $orange;
//}
.error {
  box-shadow: 0 0 10px $red;
  border: 1px solid $red;
  border: 1px solid $red;
}
