@font-face {
  font-family: 'Work Sans';
  font-weight: 100 ;
  src: local('Work Sans'), url('../assets/fonts/Work_Sans/WorkSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 300 ;
  src: local('Work Sans'), url('../assets/fonts/Work_Sans/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 400 ;
  src: local('Work Sans'), url('../assets/fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 500 ;
  src: local('Work Sans'), url('../assets/fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 700 ;
  src: local('Work Sans'), url('../assets/fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
}
