@import "src/globalStyles/colors";


.chart-info {
  max-width: 320px;
  width: 100%;
  margin-top: 60px;
  margin-right: 10px;

  &__wrapper {
    background: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    height: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  &__wallet-select {
    margin-bottom: 40px;
  }
  &__date-select{
    margin-bottom: 20px;
  }
  &__category_block {
    margin-bottom: 10px;
  }
}