@import "src/globalStyles/colors";


.chart-info {
  &__wrapper {
    background: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    height: auto;
    max-width: 450px;
    min-width: 200px;
    width: 100%;
  }
}