@import "src/globalStyles/colors";

.header {
  &-wrapper {
    height: 90px;
    padding: 0 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

    &-hidden {
      top: -2000px;
      bottom: 2000px;
    }

    @media (max-width: 1200px) {
      padding: 0 30px;
    }

    @media (max-width: 900px) {
      height: 100vh;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
    }

  }

  &-logo {
    max-width: 150px;
    width: 100%;
    height: 40px;

    @media (max-width: 900px) {
      order: 2;
      max-width: unset;
      width: unset;
    }
  }
}

.burger {
  &-button {
	  max-width: 50px;
	  max-height: 50px;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  background-color: transparent;
	  color: transparent;
	  border: none;
	  top: 50px;
	  left: 50px;
	  z-index: 2;
      cursor: pointer;
	  display: none;

	  @media (max-width: 900px) {
		  display: flex;
        justify-content: center;
        align-items: center;
	  }
  }

	&-line {
		height: 5px;
		width: 100%;
		background-color: $green ;
        transition: 0.5s;
        position: relative;
        &:after{
          content: '';
          transition: inherit;
          position: absolute;
          bottom: 10px;
          left: 0;
          height: 5px;
          width: 100%;
          background-color: $green ;
        }
        &:before{
          content: '';
          transition: inherit;
          position: absolute;
          top: 10px;
          left: 0;
          height: 5px;
          width: 100%;
          background-color: $green ;
        }
	}

    &-line-active {
      height: 0;
      transform: rotate(320deg);
      &:after{
        transform: scale(1) rotate(360deg) translate(-10%, 22px);
      }

      &:before{
        transform: scale(1) rotate(260deg);
      }
    }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
}
