@import "src/globalStyles/colors";

.wallet {
  &__wrapper {
    width: 100%;
    min-width: 300px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__value {
    justify-self: right;
    font-weight: bold;
    transition: .1s;
    &-out {
      max-width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

  &__value-background {
    transition: .1s;
    transform: scale(1.2);
    color: $orange;
  }

  &__body {
    color: $black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 20px;

    &__items-wrappers{
      width: 100%;
      max-width: 250px;
    }

    &__item-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      border-bottom: 1px solid $gray-dark-light;
      font-size: 18px;
      &:last-child {
        border-bottom: none;
      }
    }

    &_ico {
    }
  }

  img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
}
