@import "src/globalStyles/colors";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $black;
  .forgot-password {
    max-width: 480px;
    height: 474px;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin: 20px;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    &-input-block {
      input {
        width: 100%;
        height: 40px;
        background: $white;
        border: 1px solid #C8C6C5;
        border-radius: 2px;

        &::placeholder {
          padding: 10px;
        }
      }
    }
  }
}
.logo {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 50px;
}