@import "src/globalStyles/colors";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray-light;
  flex-direction: column;
}
.logo {
  min-width: 80px;
  max-width: 120px;
  width: 100%;
  margin-bottom: 50px;
}
.login {
  max-width: 480px;
  height: 474px;
  width: 100%;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background: $white;
  -webkit-box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  border-radius: 8px;
  &-input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  &-btn-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &__link_block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__link {
    &:last-child {
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 900px) {
  .login {
    &-title {
      margin-bottom: 0;
    }
  }
}
