@import "src/globalStyles/colors";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  flex-direction: column;
}
.logo {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 50px;
}
.login {
  max-width: 480px;
  height: 474px;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 20px;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, 0.72);
  &-input-block {
    input {
      width: 100%;
      height: 40px;
      background: $white;
      border: 1px solid #C8C6C5;
      border-radius: 2px;
      padding: 10px;
    }
  }

  &-btn-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    button {
      max-width: none;
      width: 100px;
      height: 48px;
      &:last-child {
        margin-left: 20px;
        background: $blue;
      }
    }
  }

  &__link_block {
    display: flex;
    flex-direction: column;
  }

  &__link {
    &:last-child {
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 900px) {
  .login {
    &-title {
      margin-bottom: 0;
    }
    &-btn-block {
      button {
        width: 100%;
        &:last-child {
          margin: 10px 0 10px 0;
        }
      }
    }
  }
}
