@import "src/globalStyles/colors";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray-light;
  flex-direction: column;
}
.logo {
  min-width: 80px;
  max-width: 120px;
  width: 100%;
  margin-bottom: 50px;
}
.login {
  max-width: 480px;
  height: 474px;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background: $white;
  -webkit-box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 36px 21px rgba(34, 60, 80, 0.15);
  border-radius: 8px;
  &-input-block {
    input {
      width: 100%;
      height: 40px;
      background: $white;
      border: 1px solid #C8C6C5;
      border-radius: 2px;
      padding: 10px;
    }
    span {
      color: $red;
    }

    span::before {
      display: inline;
      content: "⚠ ";
    }

  }

  &-btn-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    button {
  /*    max-width: none;
      width: 100px;
      height: 48px;*/
      &:last-child {
        margin-left: 20px;
        background: $blue;
      }
    }
  }

  &__link_block {
    display: flex;
    flex-direction: column;
  }

  &__link {
    &:last-child {
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 900px) {
  .login {
    &-title {
      margin-bottom: 0;
    }
    &-btn-block {
      button {
        width: 100%;
        &:last-child {
          margin: 10px 0 10px 0;
        }
      }
    }
  }
}
