@import "src/globalStyles/colors";

.work-space {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .work-space {
    justify-content: center;
  }
}
