@import "../../../../globalStyles/colors";

.loader > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: $black;
  animation: bounce 1.5s 0.5s linear infinite;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    background-color: $orange;
    opacity: 0.6;
    transform: scale(0.6);
  }
  75% {
    opacity: 0.1;
    transform: scale(1.4);
  }
}
