@import "../../../../globalStyles/colors";

.button{
  max-width: 140px;
  width: 100%;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  height: 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: $green;
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
}
