@import "src/globalStyles/colors";

.main {
  &_content {
    &__page {
      position: absolute;
      left: 85px;
      right: 15px;
      top: 90px;
    }
  }
}

body {
  background: $gray-light;
}
