@import "src/globalStyles/colors";

.link {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #222222;
  transition: 0.5s;

  &:hover {
    color: $blue-light;
  }
}
a {
  text-decoration: none;
}
