@import "src/globalStyles/colors";

.expense-accounting {
  &__wrapper {
    min-width: 282px;
    min-height: 364px;
    max-width: 380px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;

    select {
      border: 1px solid $gray;
      width: 200px;
      height: 40px;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 5px;
      outline: none;
      &:focus {
        box-shadow: 0 0 10px $orange;
        border: 1px solid $orange;
      }
    }
    textarea {
      resize: none;
      margin-bottom: 10px;
      border: 1px solid $gray;
      &:focus {
        outline: none !important;
        border-color: $orange;
        box-shadow: 0 0 10px $orange;
      }
    }

    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: $black;
  }
}
