@import "src/globalStyles/colors";

.title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
  color: $black;

  &-h3{
    line-height: normal;
    font-size: 23px;
    color: $black;
  }

  @media (max-width: 700px) {
    font-size: 20px;
    line-height: 42px;
  }
}
