@import "src/globalStyles/colors";

.loader {
  border: 4px solid $gray;
  border: 4px solid $orange;
  border-top: 4px solid $black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;

  &_color {
    &--black {
      border-top-color: $black;
    }

  }

  &_bgcolor {
    &--blue {
      border-top-color: $blue;
    }
  }

  &_position {
    &--center {
      margin-top: 0;
    }
  }

  &__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    &--withoutBg {
      background-color: transparent;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;

    &-blue {
      color: $blue;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
