@import "src/globalStyles/colors";

.footer{
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $black;

  &-ul {
    color: inherit;
    max-width: 200px;
    width: 100%;
    margin: 10px 0;
  }
}
