@import "src/globalStyles/colors";

.autosuggest {
  height: 40px;

  &-active{
  box-shadow: 0 0 10px $orange;
  border: 1px solid $orange;
  }


  &:hover,&:focus{
    box-shadow: 0 0 10px $orange;
    border: 1px solid $orange;
  }

}
.label{
  color: $black;
  margin: 10px 0;
  font-weight: 500;
  font-size: 17px;
}

