@import "src/globalStyles/colors";

.title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 10px;
  color: $black;

  @media (max-width: 700px) {
    font-size: 30px;
    line-height: 42px;
  }
}
