@import "src/globalStyles/colors";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e39549e;;
  flex-direction: column;
}

.logo {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 50px;
}

.login {
  max-width: 480px;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 20px;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);

  &-input-block {
    input {
      width: 100%;
      height: 40px;
      background: $white;
      border: 1px solid #C8C6C5;
      border-radius: 2px;
      padding: 10px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  button {
    margin-bottom: 20px;
    width: 140px;
  }

}
