@import "src/globalStyles/colors";

.side-bar {
  transition: 0.1s;

  &_logOut {
    width: 20px;
    height: 20px;
  }

  &_container {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: auto;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.72);
    z-index: 11;
  }

  &_logo {
    width: 48px;
    height: 48px;
  }

  &_ico {
    margin: 50px 0px 10px 0px;
    width: 21px;
    height: 21px;
    cursor: pointer;
  }

  &_ico-logout {
    flex: 5;
    width: 21px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
  }
  svg:hover {
    -webkit-transform: scale(1.5);
    transform: scale(2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    path {
      fill: $blue;
    }
  }

  &_ico-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 17px;
        color: $gray;
      }

      svg {
        width: 21px;
        height: 21px;
      }
    }

  }

  &_hide {
    transform: translate(-120px);
    transition: 0.3s;
  }

  &__toggle-side-bar {
    position: fixed;
    top: 23px;
    left: 80px;
    z-index: 30;
  }

}
