@import "src/globalStyles/colors";


.card-container {
  width: 288px;
  height: 327px;
  background: $white;
  box-shadow: 0px 0px 10px $gray-light;
  border-radius: 0px;
  margin-top: 40px;
  margin-bottom: 29px;
  &:before {
    content: '';
    background: $blue;
    width: 288px;
    height: 12px;
    position: absolute;
  }

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 42px 20px 49px 20px;

  &_text-block {
    h5, span {
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      color: $black;
    }

    h5 {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 31px;
    }

    span {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
