@import "src/globalStyles/colors";

.settings {
  &__wrapper {
    max-height: 700px;
    min-height: 400px;
    max-width: 600px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
  }

  &__body {
    &__block {
      display: flex;
      flex-direction: column;
      div {
        margin-top: 10px;
        font-size: 16px;
        color: $gray;
        select {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }


    }
    &__language-block {
      border-bottom: 1px solid $gray-light;
    }
    &__theme-block {
    }
  }
  h3 {
    text-align: center;
  }
}
