@import "src/globalStyles/colors";

.wallets {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__add-wallet-img {
    cursor: pointer;
    width: 65px;
    height: 65px;
    &:hover {
      -webkit-transform: scale(1.5);
      -webkit-transition: .4s ease-in-out;
      transform: rotate(180deg) scale(1.2);
      transition: .4s ease-in-out;
    }
  }
  &__wallet-modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
      width: 280px;
    }
  }
}
