@import "src/globalStyles/colors";

.wallets {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__add-wallet-img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    &:hover {
      -webkit-transform: scale(1.5);
      -webkit-transition: .4s ease-in-out;
      transform: rotate(180deg) scale(1.2);
      transition: .4s ease-in-out;
    }
  }
}
