@import "src/globalStyles/colors";

.button{
  min-width: 100px;
  width: 100%;
  height: 48px;
  max-width: max-content;
  padding: 10px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: $green;
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: $red;
  color: $white;
  cursor: not-allowed;
}
