@import "src/globalStyles/colors";

.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 150px;
  img{
    width: 340px;
    height: 340px;
  }
  h6,span {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }
  &_text{
    margin-top: 52px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    line-height: 70px;
    color: $black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &_description {
    font-size: 16px;
    line-height: 19px;
    color: $gray;
  }
  button{
    margin-top: 40px;
    width: 332px;
    height: 62px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
    &:hover{
      background: $blue-light;
    }
  }
}
