@import "src/globalStyles/colors";

.main {
  padding: 0 20px;
  &_content {
    &__page {
      margin-top: 82px;
    }
  }
}

body {
  background: $gray-light;
}
//@media screen and (max-width: 900px) {
//  .main {
//    &_content {
//      &__page {
//        margin-bottom: 120px;
//      }
//    }
//  }
//}
