@import "src/globalStyles/colors";

.wallets {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  &__wallet-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  &__add-wallet-img {
    cursor: pointer;
    width: 65px;
    height: 65px;
    transform: rotate(0deg) scale(1);
    transition: .4s ease-in-out;
    margin-left: 17px;

    &:hover {
      -webkit-transform: scale(1.5);
      -webkit-transition: .4s ease-in-out;
      transform: rotate(180deg) scale(1.2);
      transition: .4s ease-in-out;
    }
  }
  &__wallet-modal {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .wallets {
    flex-direction: column;
    &__wallet-section {
      padding: 0 20px;
    }

    &__add-wallet-img {
      left: 30px;
      top: 0;
    }
  }
}
