@import "src/globalStyles/colors";

.wallets {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  margin: 0 auto 80px;

  &__header {
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }

  &__wallet-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  &__wallet-modal {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .wallets {
    flex-direction: column;

    &__add-wallet-img {
      margin-left: 17px;
      width: 70px;
      height: 70px;
    }
    &__wallet-section {
      grid-template-columns: repeat(auto-fit, minmax(342px, 0.5fr));
    }
  }
}
