@import "src/globalStyles/colors";

.wallets {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  &__wallet-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  &__add-wallet-img {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .4s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.5);
      -webkit-transition: .4s ease-in-out;
      transform: rotate(180deg) scale(1.2);
      transition: .4s ease-in-out;
    }
  }

  &__wallet-modal {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }

  &__header {
  }

  &__btn-add-spending-block {
    width: 150px;

    &__btn {
      font-size: 12px !important;
      transform: rotate(0deg) scale(1);
      transition: .3s ease-in-out;

      &:hover {
        color: $white;
        -webkit-transform: scale(1.5);
        -webkit-transition: .4s ease-in-out;
        transform: rotate(360deg) scale(1.2);
        transition: .4s ease-in-out;
      }
    }

  }
}

@media (max-width: 900px) {
  .wallets {
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__add-wallet-img {
      margin-left: 17px;
      width: 70px;
      height: 70px;
    }
  }
}
