@import "src/globalStyles/colors";

.wallets {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  &__wallet-section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__add-wallet-img {
    cursor: pointer;
    width: 65px;
    height: 65px;
    transform: rotate(0deg) scale(1);
    transition: .4s ease-in-out;
    margin-left: 17px;

    &:hover {
      -webkit-transform: scale(1.5);
      -webkit-transition: .4s ease-in-out;
      transform: rotate(180deg) scale(1.2);
      transition: .4s ease-in-out;
    }
  }
  &__wallet-modal {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;

    //select {
    //  border: 1px solid $gray;
    //  height: 40px;
    //  border-radius: 8px;
    //  padding: 5px;
    //  outline: none;
    //  color: $gray;
    //
    //  &:focus {
    //    box-shadow: 0 0 10px $orange;
    //    border: 1px solid $orange;
    //  }
    //
    //  option:checked {
    //    background-color: $gray-dark-light;
    //  }
    //}
    //
    //input {
    //  width: 280px;
    //}
  }
}

@media (max-width: 900px) {
  .wallets {
    flex-direction: column;
    &__wallet-section {
      justify-content: center;
      margin-bottom: 100px;
    }

    &__add-wallet-img {
      left: 30px;
      top: 0;
    }
  }
}
